body {
  background-color: aquamarine;
  padding: 0%;
  margin: 0%;
}

.navbar {
  height: 80px;
  background-color: #eb4b8a;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.backIcon {
  display: flex;
  margin-left: 0%;
  height: 36px;
  width: 50px;
  color: #fff;
}

.theme {
  color: #fff;
}

.mapSection {
  height: 10%;
 background-color: #fc5192;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex: row;
 width: 100%;
}

.tCountries {
  padding-right: 10px;
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.country-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dd4680;
}

.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}

.flag-image {
  width: 80%;
  height: 100%;
}

.country-card:nth-child(4n+1),
.country-card:nth-child(4n+4) {
  background-color: #db4680;
}

.country-card:nth-child(4n+2),
.country-card:nth-child(4n+3) {
  background-color: #cf4278;
}

.popSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.righticon {
  display: flex;
  margin-left: 30%;
  height: 36px;
  width: 50px;
  color: #fff;
}

@media screen and (min-width: 376px) and (max-width: 1440px) {
  .countries-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .country-card:nth-child(even) {
    background-color: #db4680;
  }
  
  .country-card:nth-child(odd) {
    background-color: #cf4278;
  }
}
