body {
  background-color: aquamarine;
  padding: 0%;
  margin: 0%;
}

.navbar {
  height: 80px;
  background-color: #eb4b8a;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.backIcon {
  display: flex;
  margin-left: 0%;
  height: 36px;
  width: 50px;
  color: #fff;
}

.theme {
  color: #fff;
}

.mapSection {
  height: 10%;
 background-color: #fc5192;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex: row;
}

.tCountries {
  padding-right: 10px;
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.country-card {
  background-color: #dd4680;
}

@media screen and (min-width: 375px) and (max-width: 1440px) {
  body {
    background-color: blue;
  }
}
